<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Notes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{{#ifeq title 'Home'}}active{{/ifeq}}"><a href="/">Home</a></li>
        <li class="{{#ifeq title 'Notes'}}active{{/ifeq}}"><a href="/notes">Notes</a></li>
        <li class="{{#ifeq title 'Contact'}}active{{/ifeq}}"><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if user }}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            {{#if user.picture}}
            <img class="user-image-small" src="{{user.picture}}">
            {{else}}
            <img class="user-image-small" src="{{user.avatar}}">
            {{/if}}
            {{#if user.first_name}}
            {{user.first_name}}
            {{else}}
            {{user.email}}
            {{/if}}
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/profile">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        {{else}}
        <li><a class="nav-link" href="/login">Log in</a></li>
        <li><a class="nav-link" href="/signup">Sign up</a></li>
        {{/if}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
