{{#if messages.error}}
<div role="alert" class="alert alert-danger">
  <div>{{messages.error}}</div>
</div>
{{/if}}

{{#if messages.errors}}
<div role="alert" class="alert alert-danger">
  {{#each messages.errors}}
  <div>{{msg}}</div>
  {{/each}}
</div>
{{/if}}

{{#if messages.info}}
<div role="alert" class="alert alert-info">
  {{#each messages.info}}
  <div>{{msg}}</div>
  {{/each}}
</div>
{{/if}}

{{#if messages.success}}
<div role="alert" class="alert alert-success">
  {{#each messages.success}}
  <div>{{msg}}</div>
  {{/each}}
</div>
{{/if}}

{{#if messages.warning}}
<div role="alert" class="alert alert-warning">
  {{#each messages.warning}}
  <div>{{msg}}</div>
  {{/each}}
</div>
{{/if}}
