<form method="POST" action="/notes/save">
  <input type="hidden" name="create" value="{{create}}" />

    {{#if create }}

    {{else}}
    <p>Key: {{key}}
      <input type="hidden" name="key" value="{{key}}" />
      </p>
    {{/if}}
  </p>
  <p>Title: <input type="text" name="title" value="{{note.title}}"></p>
  <p><textarea placeholder="Enter a note..." name="body" cols="40" rows="10">{{note.body}}</textarea></p>
  <p><input type="submit" value="Submit" /></p>
</form>
